MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=tourism

POSTGRES_USER=tourism
POSTGRES_PASSWORD=tourism
POSTGRES_DB=tourism

AIRFLOW_UID=50000

SPARK_MASTER_URL=spark://spark-master:7077

TRINO_CATALOG=iceberg

MLFLOW_HOST=mlflow
MLFLOW_PORT=5000